/* div要素の装飾 */
div {
  width: 980px;
  margin: 25px auto 0;
  padding: 25px;
  border: 3px solid #0067c0;
}

/* h1要素の装飾 */
h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* h2要素の装飾 */
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  text-align: center;
}

/* p要素の装飾 */
p {
  font-size: 16px;
  text-align: center;
  margin: 0;
}
